<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
           
           <spacer size="15"></spacer>
           <container class="no-bg">
             <row>
               <columns large="6" class="custom-pb">
                 <p class="tiny-text small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente placeat, est mollitia laudantium amet aut.</p>
               </columns>
               <columns large="6" class="custom-pb">
                 <p class="text-right small-text-center"><a href="#!" class="tiny-text basic-link">View this email in your browser</a></p>
               </columns>
             </row>
           </container>
         
         <table>
           <tbody>
             <tr>
               <td>
                 <img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/68bac409-eb07-449d-aa4e-02f4d20ea883.jpg" alt="Summer 2016">
               </td>
             </tr>
           </tbody>
         </table>
               
          <spacer size="15"></spacer>
               
          <container>
            <row>
              <columns>
                <spacer size="40"></spacer>
                <p class="main-sub-heading text-center">Meet the</p>
                <h1 class="main-heading text-center">Lorem collection</h1>
                <spacer size="30"></spacer>
                <p class="main-body-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nemo quasi obcaecati sapiente tempore tenetur non consequuntur aspernatur id similique fuga esse, quaerat, eos dolore quisquam molestias molestiae velit dolor? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quam nam aut, at ipsa! Iur</p>
                <spacer size="30"></spacer>
                <center>
                  <button href="#">Shop now</button>
                </center>
                 <spacer size="30"></spacer>
              </columns>
            </row>
          </container>
                
          <spacer size="15"></spacer>
          
          <container>
            <row>
              <columns class="custom-pb">
               <spacer size="40"></spacer>
                <h2 class="text-center text-uppercase">Deals of the week</h2>
              </columns>
            </row>
            
            <row>
              <columns small="4" large="5"></columns>
              <columns small="4" large="2">
                <div class="decorative-line"></div>
              </columns>
              <columns small="4" large="5"></columns>
            </row>
            
            <row>
              <columns large="4">
                <center><img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/6a9e9bff-ccfe-486c-86c4-923cf2a2f32b.jpg" alt="item"></center>
                <h3 class="item-name small-text-center">Item Name</h3>
                <p class="item-price small-text-center">$16.99</p>
              </columns>
              <columns large="4">
                <center><img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/d045ef8e-c5c3-4c91-a736-931fdec2c184.jpg" alt="item"></center>
                <h3 class="item-name small-text-center">Item Name</h3>
                <p class="item-price small-text-center">$16.99</p>
              </columns>
              <columns large="4">
                <center><img src="https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/bbcf016c-f597-4d1a-976b-1577e79767b4.jpg" alt="item"></center>
                <h3 class="item-name small-text-center">Item Name</h3>
                <p class="item-price small-text-center">$16.99</p>
              </columns>
            </row>
          </container>
          
          <spacer size="15"></spacer>
          
          <container class="no-bg">
            <row>
              <columns>
                <p class="text-right small-text-center">
                  <a href="#" class="basic-link tiny-text">unsubscribe from this list</a> | 
                  <a href="#" class="basic-link tiny-text " >unsubscribe from this list</a>
                </p>
              </columns>
            </row>
          </container>
          
          <spacer size="50"></spacer>
           
          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>